
.Auth-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.Auth-form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}


.input-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 100%;
}



label {
    display: flex;
    align-items: center;
}

p {
    margin-top: 5px;
    font-size: 0.875rem;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #e3effb;
}
