main {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
.shelter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.shelterUser-container {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.shelterUser-container:hover {
    background-color: #f0f0f0;
}