.filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-bar input[type="text"],
.filter-bar input[type="date"],
.filter-bar select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    margin-right: 10px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
    vertical-align: middle;
}

.filter-bar input[type="text"]:focus,
.filter-bar input[type="date"]:focus,
.filter-bar select:focus {
    border-color: #007bff;
}

.filter-bar select {
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.filter-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.filter-bar button:hover {
    background-color: #0056b3;
}

.filter-bar button:last-child {
    margin-left: 10px;
}

.filter-bar input[type="date"] {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar input[type="text"],
    .filter-bar input[type="date"],
    .filter-bar select {
        width: calc(100% - 20px); /* Adjusted width to account for padding */
        margin-bottom: 10px;
    }

    .filter-bar button {
        width: calc(100% - 20px); /* Adjusted width to account for padding */
    }
}
