.buttonGroup{
    margin:10px;
}
.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    border-radius: 8px; /* Add border-radius for rounded corners */
    overflow: hidden; /* Hide overflow from rounded corners */
}

.nav-item {
    margin: 0 10px; /* Reduced margin for a cleaner look */
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px; /* Slightly reduced font size */
    padding: 8px 12px; /* Add padding for better spacing */
    border-radius: 5px; /* Add border-radius for rounded corners */
    transition: background-color 0.2s, color 0.2s;
}

.nav-item a:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}