.message-board-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%; /* Adjust the width as needed */
    max-height: 100%;
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Optional: add a shadow to create a separation */
    transition: margin-right 0.3s ease-in-out; /* Added transition for smooth movement */
    gap:10px;
}

/* Add this new class for applying margin when the message board modal is open */
.message-board-modal.shifted {
    margin-right: 40%; /* Adjust the margin as needed */
    transform: translateX(-50%); /* Center the modal horizontally */
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.submitted{
    font-weight: bold;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}