.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    transition: margin-right 0.3s ease-in-out;
    /* Add max-height and overflow properties for scrolling */
    max-height: 100%; /* Set a maximum height for the modal content */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the max height */
}

/* Add this new class for applying margin when the message board modal is open */
.modal-content.shifted {
    margin-right: 40%; /* Adjust the margin as needed */
}

/* Add this new class for applying margin when the message board modal is open */
.modal-content.shifted {
    margin-right: 40%; /* Adjust the margin as needed */
}

.modal-content img {
    max-height: 350px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 20px;
}

.modal-content h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.modal-content p {
    font-size: 16px;
    color: #666;
}

.modal-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

.modal-content button:hover {
    background-color: #0056b3;
}